{{#partial "content"}}

    <style>
  body {

       background-image:url("https://images.wallpaperscraft.com/image/roe_deer_young_wildlife_130845_1280x960.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       text-align:center;
             }

p{
color:black;
margin-left:20%;
width:60%;
height:100%;
border-radius:10px;
}
    </style><br><br><br><br><br><br><br><br><br><br><br><br>

    <p>WildLife Tracking is incredibly important because we're trying to find where the animals actually use the habitat.<br>
        A tracking system is used for the observing of persons or objects on the move and supplying a timely ordered <br>
        sequence of location data for further processing.<br>
    </p>
{{/partial}}

{{>layout.hbs}}