{{#partial "content"}}
    <style>
         body {

       background-image:url("https://i.etsystatic.com/10626013/r/il/324428/1607541135/il_fullxfull.1607541135_7up9.jpg");
       background-repeat:no-repeat;
       background-size:cover;
       text-align:center;
             }
    </style>
    <div class="container">
        <div class="jumbotron" style="background-color:black; opacity:0.6;">
            <h3>Sightings</h3>
            <p>Animal Name: {{animalName}}</p>
            <p>Location : {{sightLocation}}</p>
            <p>Ranger Name : {{ranger}}</p>
            <p>Spotted Time : {{spotted}} </p>
        </div>
    </div>
{{/partial}}
{{>layout.hbs}}